/* CSS declarations go here */
body {
	background: url(../img/body-bg.png) repeat 0 0;
}

.main.container {
	margin-top: 7em;
}

/* BGA Blue */
.ui.inverted.menu .bgablue.active.item,
.ui.inverted.bgablue.menu,
.ui.bgablue.button {
	background-color: #4C76A5;
	color: #FFF;
}
